/* style.css */

/* Set the canvas element to be the full size of the window */
canvas {
    width: 0%;
    height: 50%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: left;
    align-items: left;
}

#canvas-container {
    width: 50%;
    height: 400px;
}